div h3{
    font-size: 20px;
    font-family: 'comic sans',cursive;
        text-align: justify;
}
footer {
    padding: 20px;
    background: rgb(17, 0, 255);
    color: white;
    margin-top: 190px;
    }
    footer {
        color: white;
        background-color: blue;
        font-style: italic;
        font-size: 18px;
        
        
    
    }
   
    